.films__list {
	padding-left: 0;
	display: grid;
	gap: 5px;
}
.films__list-item {
	display: grid;
	gap: 10px;
	grid-template-columns: 150px 1fr;
	justify-items: start;
	align-items: center;
	list-style: none;
}
